.container {
  max-width: 60%;
  width: 60%;
  margin: auto;
  padding-top: 2em;
}

.title {
  text-align: center;
}

form {
  display: flex;
  background: white;
  padding: 0em 1em;
  height: 50px;
  border-radius: 10px;
  margin-top: 1em;
}

form input,
form button {
  font-family: inherit;
  font-size: inherit;
}

form input {
  width: 100%;
  font-weight: bold;
  border: none;
  height: 100%;
  outline: none;
}

form button {
  padding: 0.5em 2em;
  border-radius: 5px;
  margin: 0.5em 0em;
  border: none;
  outline: none;
  background: #283e4d;
  color: white;
  cursor: pointer;
}

.active {
  text-decoration: line-through;
  opacity: 0.6;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0em;
}

input[type="checkbox"] {
  accent-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.todo-item p {
  font-weight: bold;
}

.todo-item button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}
